* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#breadcrumb-list {
    list-style: none;
    display: flex;
    padding: 0;
    gap: 10px;
}

#breadcrumb-button {
    font-size: 16px;
    background-color: lightcyan;
    border: 3px solid lightblue;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
}